<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <title>Start page</title>
</head>
<body>

<header>
    <nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light  p-0">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <p><a href="../" class="navbar-brand"><img src="../static/img/red_car.svg"
                                                th:src="@{/img/red_car.svg}"
                                                   height="50" width="50" alt="red_car"></a></p>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-item nav-link " href="#"
                   th:href="@{/}">Make order</a>
                <a class="nav-item nav-link" href="period.html"
                   th:href="@{/period}">Statistics</a>
            </ul>
        </div>
    </nav>
</header>

<div class="card">
    <div class="card-header">
        <h3>Chose the data</h3>
    </div>
    <div class="card-body">
        <p class="card-text">You can choose car rental date.</p>
        <div class="input-group mb-3">
            <label>
                <input id="filter-input"
                       class="form-control"
                       type="text"
                       placeholder="yyyy-mm-dd"
                       data-inputmask="'mask': '9999-99-99'"
                       th:text="${filter}"
                       onchange="changeShowAction()"
                       aria-describedby="basic-addon2">
            </label>
        </div>
        <div>
            <a id="filter-button"
               href="#" th:href="@{/cars}"
               class="btn btn-primary"
               title="Show free cars"
               data-toggle="tooltip"
               data-placement="bottom">
                <span class="d-none d-sm-inline">Show</span>
            </a>
        </div>
    </div>
</div>

<script src="../static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
<script src="../static/js/popper.min.js"
        th:src="@{/js/popper.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
<script src = "https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>
<script>
    function changeShowAction() {
        var currActionValue = document.getElementById('filter-button').href;
        var currentUrl = new URL(currActionValue);
        var filterValue = document.getElementById('filter-input').value;
        currentUrl.searchParams.set("filter", filterValue);
        document.getElementById('filter-button').href = currentUrl.href;
    }
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $('#filter-input').inputmask();
    $(document).ready(function fins() {
        $('#filter-input').inputmask();
    });
</script>
</body>
</html>